body { 
  font-size: 140%; 
}

.edit-btn {
  margin-right: 10px;
}

/* Datatables_tableTools */
div.DTTT { 
  margin-bottom: 0.5em; 
  float: right; 
}
div.dataTables_wrapper { 
  clear: both; 
}

/* Footer */
footer {
  background-color:#e7e7e7;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow:hidden;
}

.footertext{
    margin-top:15px;
}
.form{
    margin-top:43px;
}
.save-button{
    margin-top:100px;
    margin-left:55px;
}
.forminput{
    margin-top:15px;
}
.offerbtn{
    margin-top:40px;
    margin-left:17px;
}
.btn-right {
    float:right;
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #B0BED9;
}