footer {
    background-color:#e7e7e7;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}

.footertext{
    margin-top:15px;
}
.form{
    margin-top:70px;
}
